{% extends "base.html" %}

{% block site_meta %}
  {{ super() }}

  <meta property="og:title" content="Tools for reproducible research">
  <meta property="og:description" content="In this course you will learn a system for working in computational research projects and making your data analyses reproducible. The topics include good practices for data management, version control, environment management, workflows, computational notebooks and containerization.">
  <meta property="og:image" content="https://bitbucket.org/scilifelab-lts/reproducible_research_course/raw/7c44ceae0d8dccf76db812e33b73e9155a22f591/docs/images/achievement-agreement-arms-1068523.jpg">
  <meta property="og:url" content="https://nbis-reproducible-research.readthedocs.io/en/latest/">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:site_name" content="Tools for reproducible research">
  <meta name="twitter:image:alt" content="Tools for reproducible research">
  <meta property="og:type" content="website">
{% endblock %}
